*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  height: 4em;
  display: flex;
  flex-direction: space-evenly;
  justify-content: center;
  align-items: center;
}

.navBar-img{
  width: 10em;
}

.App{
  text-align: center;
}